{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - ProtectedText</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <!--nav bar -->
    <nav style="background-color: #043c6b;">
        <div class="Custom-marginator pt-1 pb-2 pb-lg-3 pt-lg-1">
            <div class="d-flex flex-wrap justify-content-between gap-2">
                <div class="">
                    <img src="{% static 'img/main/logo.png' %}" alt="logo" style="width: 250px;">
                </div>
                <div class="">
                    <img src="{% static 'img/main/android-app-icon.png' %}" alt="android-app-icon" style="width: 30px;">
                    <img src="{% static 'img/main/fight-hand-text-icon.png' %}" alt="fight-hand-text-icon" style="width: 100px;">
                </div>
                <div class="">
                    <button class="btn btn-light btn-sm rounded-3" onclick="reloadData()"><strong>Reload</strong></button>
                    <button class="btn btn-light btn-sm rounded-3"><strong>Save</strong></button>
                    <button class="btn btn-light btn-sm rounded-3"><strong>Change password</strong></button>
                    <button class="btn btn-light btn-sm rounded-3"><strong>Delete</strong></button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Tab -->
    <div class="Custom-marginator mt-4">

        <!-- Tab nav -->
        <ul class="nav nav-tabs" role="tablist" id="TabListParent">
            <li class="nav-item" role="presentation" id="tab-nav-0">
                <button class="btn nav-link active" id="tab-btn-0" data-bs-toggle="tab" data-bs-target="#tab0"
                        type="button" role="tab" aria-controls="tab0" aria-selected="true">
                    Empty Tab <a class="btn btn-sm btn-close" onclick="closeTab(0)"></a>
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <a class="btn nav-link border " onclick="addTab()">
                    <strong>+</strong>
                </a>
            </li>
        </ul>

        <!-- Tab contents -->
        <div class="tab-content" id="TabContentParent">
            <div class="tab-pane fade show active" id="tab0" role="tabpanel" aria-labelledby="tab-0">
                <textarea name="TabContent0" id="TabContent0" class="border border-top-0" placeholder="your text goes here..."></textarea>
            </div>
        </div>


    </div>

    <!-- BS5.3 Modal -->

    <!-- inital Modal -->
    <div class="modal fade Custom-modal-transparent-bg" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div  class=" modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content Custom-modal-color text-white " id="myModal-content">
              <!-- modal content will filled by the script -->  
            </div>
        </div>
    </div>

    <!-- loader Modal -->
    <div class="modal fade Custom-modal-transparent-bg" id="loaderModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-hidden="true">
        <div  class=" modal-dialog modal-sm modal-dialog-centered ">
            <div class="modal-content start-50" id="loaderModal-content" style="width: fit-content;">
                <center><img src="/static/img/main/loader.gif" alt="loading" height="32px" width="32px"></center>
            </div>
            <button type="button" class="hidden" data-bs-dismiss="modal" id="loaderModalBtn"  hidden></button>
        </div>
    </div>

    <!-- BS5.3 script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

    <!-- passing veriables python -> HTML -> JS -->
    <script>
        const currentURL = "{{ title }}";
        const init_modal_state = "{{ init_modal_state }}";
    </script>

    <!-- actual script -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>